.friendsTabContainer {
    width: 33%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    overflow: hidden;

    border-bottom: 3px solid white;

    background-image: linear-gradient(to bottom, rgb(218, 218, 218), rgb(218, 218, 218), rgb(255, 255, 255));

    margin: 3px;
}

.friendsTabContainer:hover {
    background-image: linear-gradient(to bottom, rgb(218, 218, 218), rgb(218, 218, 218), rgb(186, 232, 240));
    border-bottom: 3px solid rgb(132, 218, 233);

    /* cursor:grab; */
}

.activeFriendsTabContainer {
    background-image: linear-gradient(to bottom, rgb(218, 218, 218), rgb(218, 218, 218), rgb(132, 218, 233));
    border-bottom: 3px solid rgb(76, 214, 238);
}

.activeFriendsTabContainer:hover {
    background-image: linear-gradient(to bottom, rgb(218, 218, 218), rgb(218, 218, 218), rgb(132, 218, 233));
    border-bottom: 3px solid rgb(76, 214, 238);
}

.friendsTabContainer:active {
    background-image: linear-gradient(to bottom, rgb(218, 218, 218), rgb(218, 218, 218), rgb(57, 97, 104));
    border-bottom: 3px solid rgb(41, 51, 53);
}