.friendsRowContainer {
    display: flex;
    flex-direction: row;

    border-radius: 2px;

    padding-left: 1%;
    padding-right: 1%;

    align-items: top;
    justify-content: left;

    box-sizing: border-box;
    background-color: rgb(223, 225, 227);

    border: 1px solid white;
}

.friendsRowContainer:hover {
    background-image: linear-gradient(to right, rgb(223, 225, 227), rgb(41, 93, 135));
}

img {
    width: 5%;
    height: auto;
    object-fit: contain;
}

.friendRowName {
    margin-left: 1%;
}